[tool.black]
line-length = 100
target-version = ['py311']
exclude = '''
/(
    \.git
    | \.venv
    | venv
    | __pycache__
    | \.eggs
)/
'''

[tool.isort]
profile = "black"
line_length = 100
skip = [".git", ".venv", "venv", "__pycache__"]
