:root {
    --bg: #ffffff;
    --text: #1f2937;
    --muted: #6b7280;
    --lightgray: #c9cbd1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

body {
    min-height: 125vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(236, 236, 236);
}

/* hide page scrollbar */
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
/* end hide page scrollbar */

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: sticky;
    font-size: 42px;
    font-weight: bolder;
    color: var(--text);
    padding: 12px;
    background: var(--bg);
    border-bottom: 2px solid var(--muted);
}

.homeBtn {
    display: flex;
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid var(--text);
    border-radius: 999px;
    background-color: whitesmoke;
    padding:8px 12px;
    cursor: pointer;
    transition: all 0.2s;
}

.homeBtn:hover {
  background: var(--bg);
  transform: translateY(-4px);
}





/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    border-top: 2px solid var(--muted);
    color: var(--text);
    background-color: lightgrey;
    padding: 25px;
}